.App {
  text-align: center;
  background: linear-gradient(
    rgb(245, 229, 203) 0%, rgb(245, 229, 203) 2%,
    rgb(249, 247, 244) 2%, rgb(249, 247, 244) 98%,
    rgb(245, 229, 203) 98%, rgb(245, 229, 203) 100%
  );
  margin: -10px;
}

.logo > img{
  max-width: 100%;
  height: auto;
  width: auto;
}

.registrationlogin {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.registration {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -25px;
  margin-bottom: 30px;
}

.login {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  background-color: rgb(232, 202, 120);
  font-size: 25px;
  min-height: 40px;
}

.header > p {
  margin: 4px;
  padding: 7px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -1px;
  opacity: 0.85;
}

.header > p:nth-child(2) {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0px;
}

.footer {
  background-color: rgb(232, 202, 120);
  font-size: 15px;
  text-align: left;  
}

.footer > p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 3px;
  margin-left: 7px;
  padding: 6px;
}

.logoutsettings {
  display: flex;
  justify-content: right;
  gap: 10px;
  text-align: right;
  margin-top: -40px;
  margin-bottom: -42px;
  padding-top: 9px;
  margin-right: 1%;
}

.logoutsettings > div {
  border-radius: 20%;
  margin-top: -3px;
  margin-bottom: 3px;
}

.logoutsettings > div:hover {
  background-color: rgb(215, 209, 198);
}

.addemployee {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

.adddepartment {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 10px;
}

.addemployee > button {
  height: 39px;
  font-weight: bold;
}

.adddepartment > button {
  height: 39px;
  font-weight: bold;
}

.navigation > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(182, 173, 155);
  margin-top: -3px;
}

.navigationbutton {
  height: 1%;
  margin-top: -10%;
  margin-bottom: -10%;
}

.navigationbutton > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  color: rgb(78, 59, 35);
}

a {
  text-decoration: none;
  color: rgb(60, 43, 8);
}